#top{
  .itemIcon{
    background-size: 100% 100% !important;
    width: 33px;
    height: 33px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    float: left;
  }
  .supportIcon{background: url('/public/img/supportIcon.svg');}
  .basketIcon{background: url('/public/img/basketIcon.svg');}

  .itemBox{
    display: inline-block;
    &.basket{
      padding-left: 10px;
      border-left: 1px solid #eee;
    }
    .itemHead{color: #449766;font-size: 0.9em;font-weight: bold}
    .itemBody{color: #7a7a7a;font-size: 0.8em}
  }
  .browseCategory{
    background: #449866;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
    position: relative;
    &:before{
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      content: "\f15a";
      font-family: "woodmart-font";
      vertical-align: middle;
      margin-right: 10px;
    }
    &:after{
      content: "\f129";
      position: absolute;
      right: 20px;
      top: 18px;
      font-family: "woodmart-font";
      font-size: 0.7em;
      color: #fff !important;
    }
  }
  .categoryMenu{
      ul{
        border: 1px solid #ddd;
        padding: 0 !important;
        position: relative;
        li{
          text-align: left;
          list-style: none;
          border-bottom: 1px solid #ddd;
          position: relative;
          &:hover{
            background: #ddd;
          }
          &.active:after{
            content: "\f113";
            position: absolute;
            right: 20px;
            top: 12px;
            font-family: "woodmart-font";
            font-size: 0.7em;
            color: #888;
          }
          .ico{
            height: 18px;
            width: 18px;
            display: inline-block;
            margin: 0 15px;
            background-size: 100% 100% !important;
          }
          .ico01{background: url("/public/img/browsCat01.svg")}
          .ico02{background: url("/public/img/browsCat02.svg")}
          .ico03{background: url("/public/img/browsCat03.svg")}
          .ico04{background: url("/public/img/browsCat04.svg")}
          .ico05{background: url("/public/img/browsCat05.svg")}
          .ico06{background: url("/public/img/browsCat06.svg")}
          .ico07{background: url("/public/img/browsCat07.svg")}
          .ico08{background: url("/public/img/browsCat08.svg")}
          .ico09{background: url("/public/img/browsCat09.svg")}
          .ico10{background: url("/public/img/browsCat10.svg")}
          .ico11{background: url("/public/img/browsCat11.svg")}
          a{
            color: #333;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            padding: 10px 18px;
            font-size: 0.9em;
          }
        }
      }
  }
  .searchBox{
    padding: 0px !important;
    margin-bottom: 10px;
    border: 1px solid #eee;
    min-height: 40px;
    line-height: 35px;
    #searchTxt{
      border:none !important;
      width: 65% !important;
      text-align: left;
      padding-left: 10px;
      outline-style: none;
    }
    .rightSearch{
      width: 35%;
      float: right;
      .searchCategory{
        appearance: none;
        border: none;
        border-left: 1px solid #ddd;
        background: none !important;
        outline-style: none;
        float: left;
        min-height: 40px;
        line-height: 40px;
        padding-left: 20px;
        padding-top: 0px;
        width: 77%;
        position: relative;
        &:after{
          font-family: 'woodmart-font';
          display: inline-block;
          margin-left: 8px;
          font-weight: 600;
          font-size: 8px;
          content: "\f129" !important;
          color: #333;
          position: absolute;
        }
      }
      .searchBotton{
        background: #439765;
        width: 50px;
        display: inline-block;
        float: right;
        outline: none;
        border: none;
        &:before{
          content: "";
          width: 30px;
          height: 30px;
          position: relative;
          display: inline-block;
          background: url("/public/img/searchIcon.svg");
          top: 5px;
        }
      }
    }
  }
}


@media(max-width: 768px){
  #searchTxt{width: 80%}
  .searchCategory{
    display: none;
  }
}
